.year {
  margin-bottom: 15px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #3877ee;
}

.text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #42567a;
}
